# Configuração do Banco de Dados (Supabase/PostgreSQL)
DB_USER=postgres
DB_PASSWORD=sua_senha_do_supabase
DB_HOST=db.xxxxxxxxxxxxxxxx.supabase.co
DB_PORT=5432
DB_NAME=postgres

# Flask Config
FLASK_DEBUG=True
FLASK_APP=run.py
